* {
  box-sizing: border-box;
}

.container {
  background-color: black;
  width: 320px;
  align-content: center;
  border-radius: 8% 8% 0% 0%;
}

.pro--Img {
  width: 320px;
  height: 320px;
  border-radius: 8% 8% 0% 0%;
}

.pro--img {

  object-fit: fill;


}

.pro--name {
  color: white;
  font-size: 28px;
  align-self: center;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0px;
}

.pro--position {
  font-size: 14px;

  color: #D87D00;
  text-align: center;
  margin: 1px;

}

.pro--website {
  color: white;
  font-size: 10px;
  text-align: center;
  font-weight: lighter;
  margin: 8px;

}

.connect {
  display: flex;
  justify-content: center;
}

.btn--img {
  width: 14px;
  height: 14px;

}

.con--btn1 {
  background-color: #fff;
  width: 120px;
  height: 40px;
  margin: 10px;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

.con--btn2 {
  background-color: #339FFF;
  width: 120px;
  height: 40px;
  margin: 10px;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;

}
.btn--name{
  margin: 0px;
  align-self: center;
  margin-left: 4px;

}

.introduce {
  width: 260px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
  margin-right: 10px;

}

.introduce--title {
  color: white;
  width: 260px;
  margin: 20px 20px 0px 20px;

}

.introduce--content {
  font-weight: lighter;
  color: white;
  width: 260px;
  margin: 20px;
  margin: 0px 20px 0px 20px;
  font-size: 12px;

}

.tail {
  width: 320px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.tailImg {
  width: 30px;
  height: 30px;
  object-fit: fill;
  margin: 40px 10px;
}